
@{
    ViewBag.Title = "Поиск ключа";
}

<div class="container shadow-card" style="padding: 20px 30px;">
    <h2>Результаты поиска</h2><hr/>
    <h4>Текст был проанализирован частотным анализом. Наиболее подходящим ключом оказалсья <strong>@ViewBag.Keys[0]</strong></h4>
    <div class="container">
        <div class="row row-flex p-3">
            <div class="col-md-1 f-block bg-success">
                @ViewBag.Keys[0]
            </div>
            <div class="col m-block">
                @Caesar_Shift.Business.Caesar.Shift(ViewBag.Text, ViewBag.Keys[0])
            </div>
            <div class="col-md-1 l-block bg-success">
                <img src="~/Content/download-icon.svg" style="max-width: 100%; max-height: 30px;"/>
            </div>
        </div>
    </div>
    
    <h4>Другие варианты:</h4>
    @for (int i = 1; i < ViewBag.Keys.Length; i++)
    {
        <div class="container">
            <div class="row row-flex p-3">
                <div class="col-md-1 f-block">
                    @ViewBag.Keys[i]
                </div>
                <div class="col m-block">
                    @Caesar_Shift.Business.Caesar.Shift(ViewBag.Text, ViewBag.Keys[i])
                </div>
                <div class="col-md-1 l-block">
                    <img src="~/Content/download-icon.svg" style="max-width: 100%; max-height: 30px;"/>
                </div>
            </div>
        </div>
    }


</div>