
@{
    ViewBag.Title = "Поиск ключа";
}

<div class="container shadow-card" style="padding: 20px 30px;">
    <h2>Результаты поиска</h2><hr/>
    <h4>Текст был проанализирован частотным анализом. Наиболее подходящим ключом оказался <strong>@ViewBag.Keys[0]</strong></h4>
    <div class="container">
        <div class="row row-flex p-2">
            <div class="col-md-1 f-block bg-success">
                @ViewBag.Keys[0]
            </div>
            <div class="col m-block">
                <p>@Caesar_Shift.Business.CaesarEncoder.Shift(ViewBag.Text, -ViewBag.Keys[0])</p>
            </div>
            <div class="col-md-1 l-block bg-success">
                @using (Html.BeginForm("Download", "Crypt", FormMethod.Post))
                {
                    <input name="shift" type="hidden" value="@(-ViewBag.Keys[0])">
                    <button type="submit" class="border-0 p-0 bg-transparent">
                        <img src="~/Content/icons/download.svg" style="max-width: 100%; max-height: 30px;"/>
                    </button>
                }
            </div>
        </div>
    </div>
    
    <h4>Другие варианты:</h4>
    @for (int i = 1; i < ViewBag.Keys.Length; i++)
    {
        <div class="container">
            <div class="row row-flex p-3">
                <div class="col-md-1 f-block">
                    @ViewBag.Keys[i]
                </div>
                <div class="col m-block">
                    <p>@Caesar_Shift.Business.CaesarEncoder.Shift(ViewBag.Text, -ViewBag.Keys[i])</p>
                </div>
                <div class="col-md-1 l-block">
                    @using (Html.BeginForm("Download", "Crypt", FormMethod.Post))
                    {
                        <input name="shift" type="hidden" value="@(-ViewBag.Keys[i])">
                        <button type="submit" class="border-0 p-0 bg-transparent">
                            <img src="~/Content/icons/download.svg" style="max-width: 100%; max-height: 30px;"/>
                        </button>
                    }
                </div>
            </div>
        </div>
    }


</div>